$lightyellow: #fdfbf2;
$lightblue: #f2f4fd;
$lightpink: #fdf2fa;
$lightgreen: #f2fdf5;

$yellow: #fbe169;
$blue: #6983fb;
$pink: #fb69cc;
$green: #69fb98;

$darkyellow: #978844;
$darkblue: #445397;
$darkpink: #97447d;
$darkgreen: #44975e;

$color-main: $darkblue;
$color-background: $lightblue;
$color-headlines: $blue;
