.main-table {
  border-collapse: collapse;
  height: 100vh;
  width: 100%;

  .banner {
    background-color: $lightblue;
    height: 3vh;
    padding: 10px;

  }

  .navbar {
    background: linear-gradient(to bottom right, $lightgrey, darken($lightgrey, 25%));
    height: 2vh;

    ul {
      list-style-type: none;
      margin: 0;
      overflow: hidden;
      padding: 0;
    }

    li {
      float: left;

      a {
        color: $darkgrey;
        display: block;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        text-align: center;
        text-decoration: none;

        &:hover {
          background-color: $grey;
        }
        }

    }

    .nav-right {
      float: right;
    }
  }

  .options {
    background: linear-gradient(to bottom right, $lightblue, darken($lightblue, 15%));
    border: 1px solid $blue;
    height: 2vh;
    padding: 5px 0 5px 20px;
  }

  .content-area {
    background: linear-gradient(to bottom right, $lightyellow, darken($lightyellow, 15%));
    padding: 20px;
    vertical-align: top;
  }
}
