.main-table {
  border-collapse: collapse;
  height: 100vh;
  width: 100%;

  .banner {
    background-color: $lightblue;
    height: 3vh;
    padding: 10px;

  }

  .navbar {
    background: linear-gradient(to bottom right, $lightgrey, $grey);
    border: 1px solid $lightblue;
    height: 2vh;

    ul {
      list-style-type: none;
      margin: 0;
      overflow: hidden;
      padding: 0;
    }

    li {
      float: left;

      a {
        color: $darkgrey;
        display: block;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        text-align: center;
        text-decoration: none;
        }

      a:hover {
        background-color: $grey;
      }
    }

    .nav-right {
      float: right;
    }
  }

  .options {
    background-color: $lightblue;
    border: 1px solid $lightblue;
    height: 2vh;
    padding: 10px;

  }

  .content-area {
    background-color: $lightyellow;
    border: 1px solid $lightblue;
    padding: 10px;
  }
}
